@model DirectorsDetailsViewModel

<h2>@Model.Title</h2> <!-- const kullanımı için örnek -->

<div>
    <h4>Directors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Director.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.RetiredText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.RetiredText)
        </dd>
    </dl>
</div>
