<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Movies MVC</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Home/Index">Movies MVC</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Movies/Index">Movie List</a></li>
                    <li><a href="@Url.Action("Index", "Directors")">Directors</a></li>
                    <li><a href="@Url.Action("Index", "Reviews")">Reviews</a></li>
                </ul>
            </div>
        </nav>
        <div>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mert Kandemir</p>
            </footer>
        </div>
    </div>
</body>
</html>
